<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Private Insurance portfolio</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<h1>List of your vehicles</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Vehicle type</th>
        <th>Make</th>
        <th>Model</th>
        <th>Reg No</th>
        <th>Change</th>
    </tr>
    <tr th:each = "vehicle : ${vehicles}">
        <td th:text="${vehicle.vehicleId}">123</td>
        <td th:text="${vehicle.type}">Car</td>
        <td th:text="${vehicle.make}">Toyota</td>
        <td th:text="${vehicle.model}">RAV4</td>
        <td th:text="${vehicle.regNo}">MD3267</td>
        <td><a th:href="@{vehicle-update/{id}(id=${vehicle.vehicleId})}">Edit</a>
            <a th:href="@{vehicle-delete/{id}(id=${vehicle.vehicleId})}">Delete</a></td>
    </tr>
</table>
</body>
</html>