<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Private Insurance portfolio</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<h1>Property List</h1>

<table>
    <tr>
        <th>Address</th>
        <th>Construction year</th>
        <th>Area</th>
        <th>Number of floors</th>
        <th>Owner</th>
    </tr>
    <tr th:each = "property : ${properties}">
        <td th:text="${property.address}">Some address</td>
        <td th:text="${property.constrYear}">2018</td>
        <td th:text="${property.area}">35.00</td>
        <td th:text="${property.numOfFloor}">1</td>
        <td th:text="${property.owner.userId}">44</td>
    </tr>
</table>
</body>
</html>