<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Private Insurance portfolio</title>
</head>
<body>
<h1>Users List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Login</th>
        <th>Mobile</th>
    </tr>
    <tr th:each = "systemUser : ${users}">
        <td th:text="${systemUser.userId}">1</td>
        <td th:text="${systemUser.firstName}">John</td>
        <td th:text="${systemUser.lastName}">Doe</td>
        <td th:text="${systemUser.login}">j.doe</td>
        <td th:text="${systemUser.mobile}">+44444444</td>
    </tr>
</table>
</body>
</html>