body{
    min-width: 320px;
    margin: 25px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #3E3D3D;
}

h1{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    color: #530917;
}

a{
    color: #030B6C;
}

a:hover{
    color: #232CA1;
}


