<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="hero-unit">
        <h1>Private Insurance portfolio management app</h1>
        <p>
            Login to access your private portfolio and manage insurance issues
        </p>
        <p>
            <a href="/main" th:href="@{/main}" class="btn btn-large btn-success">Login</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>