<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Private Insurance portfolio</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<h1>Main page: list of vehicles</h1>
<div th:if="${#authorization.expression('isAuthenticated()')}">
<table>
    <tr>
        <th>ID</th>
        <th>Vehicle type</th>
        <th>Make</th>
        <th>Model</th>
        <th>Reg No</th>
    </tr>
    <tr th:each = "vehicle : ${vehicles}">
        <td th:text="${vehicle.vehicleId}">123</td>
        <td th:text="${vehicle.type}">Car</td>
        <td th:text="${vehicle.make}">Toyota</td>
        <td th:text="${vehicle.model}">RAV4</td>
        <td th:text="${vehicle.regNo}">MD3267</td>
    </tr>
</table>
</div>
<div th:if="${#authorization.expression('!isAuthenticated()')}">
    Login to access
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>